html{
	font-family: 'Arial', serif;
	font-size: 11pt;
}
body{
	width: 620px;
	margin: auto;
	text-align: center;
}
body > div > div {
	max-width: 100%;
	overflow: hidden;
}
body > div > div > * {
	max-width: 100%;
}
h2{
	margin-bottom: 2px;
	font-size: 16pt;
}

a:link{
	color: dodgerblue;
}
h3{
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 10pt;
}
p{
	margin: 0;
	text-align: left;
}
h1 {
	text-indent: 5px;
	font-size: 36pt;
}
img{
	max-width: 100%;
}